*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h6, h5, i, .footer span, .contain-about h3, .contain p{
    color: white;
}

.background-blue{
    background-color: rgba(44,62,80,255);
}

.background-azure{
    background-color: rgba(26,188,156,255);
}

.background-brightblue{
    background-color: rgba(58,84,109,255);
}

.contain-jumbo img{
    width: 30%;
}

.contact, .contain-jumbo, .contain-portfolio, .contain-about span i{
    font-size: 25px;
}

.contain-portfolio span i{
    color: rgba(44,62,80,255);
}

.contact span i{
    color: rgba(44,62,80,255);
}

.contain img{
    width: 100%;
    border-radius: 10px;
}

.contain button{
    border: 1px solid white;
    background-color: transparent;
    padding: 5px 10px;
    color: white;
    border-radius: 5px ;
}

.icons span{
    border: 1px solid white;
    border-radius: 50%;
}

#icon-1{
    padding: 8px 13px;
}

#icon-2{
    padding: 8px;
}

#icon-3{
    padding: 8px 10px;
}

#icon-4{
    padding: 8px 12px;
}

.border{
    border-top: none;
    border-left: none;
    border-right: none;
}

.contain p a{
    text-decoration: none;
}

.line{
    width: 80px;
    height: 4px;
    display: inline-flex;
    margin-bottom: 5px;
    border-radius: 10px;
}

.white{
    background-color: white;
}

.blue{
    background-color: rgba(44,62,80,255);
}

.navbar-toggler-icon{
    filter: invert(1);
}